@{
    ViewData["Title"] = "Home Page";
}
@model SmartHome_Mika.Models.HomeViewModel

<div class="text-center">
    <h1 class="display-4">Welkom Thuis</h1>
    <p>Bekijk hier je apparaten: </p>
    <input style="margin-top: 10px;" type="text" placeholder="Search..">
</div>
<div>
    <h2 class="display-6">Mika's kamer</h2>
    <p>Bureaulamp - Status: <strong>@(Model.Lamp.IsOn ? "Aan" : "Uit")</strong> </p>
    <img src="https://lw-cdn.com/images/DD98CE342064/k_1a61589a1c31f79a793cde60d6bae171;w_1600;h_1600;q_100/9643035.jpg" width="300"/>
</div>
<div>
    <form asp-controller="SmartDevice" asp-action="ChangeIsOn" method="post">
        <input type="hidden" name="id" value="1" />
        <input type="hidden" name="deviceType" value="SmartLamp" />
        <button style="margin-top: 10px;" type="submit">
            Aan-/uitzetten
        </button>
    </form>
</div>
<div>
    <p>Koelkast - Status: <strong>@(Model.Fridge.IsOn ? "Aan" : "Uit")</strong> </p>
    <img src="https://cdn.webshopapp.com/shops/65625/files/434814765/combisteel-mini-koelkast-glazen-deur-80l-h84xb474d.jpg;w_1600;h_1600;q_100/9643035.jpg" width="300" />
</div>
<div>
    <form asp-controller="SmartDevice" asp-action="ChangeIsOn" method="post">
        <input type="hidden" name="id" value="1" />
        <input type="hidden" name="deviceType" value="SmartFridge" />
        <button style="margin-top: 10px;" type="submit">
            Aan-/uitzetten
        </button>
    </form>
</div>
